<br/><br/><br/>
<div class="container">
  <h3>Product table</h3>
  <div style="width: 35%;">
  <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Product names..">
  </div>
  <br/>
  <table class="table" id="myTable">
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(things, function(thing) { %>
    <tr data-id="<%= thing.id %>" data-model="thing">
      <td><%= thing.id %></td>
      <td><%= thing.category %></td>
      <td><%= thing.name %></td>
      <td><%= thing.price %>$</td>
      <td><a href="/thing/show/<%= thing.id %>" class="btn btn-sm btn-primary">Show</a></td>
      <td><a href="/thing/edit/<%= thing.id %>" class="btn btn-sm btn-warning">Edit</a></td>
      <td><form action="/thing/destroy/<%- thing.id %>" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form></td>
    </tr>

    <% }) %>
    
  </table>
  

  <div class="content">

  <div style="width: 30%;">
  <a class="btn btn-log btn-info btn-block collapsible">Add a product </a>
<form action="/thing/create" method="POST">


  <input type="text" class="form-control" placeholder="Category" name="category">

  <input type="text" class="form-control" placeholder="Product name" name="name">

  <input type="text" class="form-control" placeholder="Price" name="price">

  
  <br />

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create product"/>
  
</form>
</div>
</div>

</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
</script>

  <script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>

